/* ==========================
   ResumeIQ V2
========================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Poppins',sans-serif;

background:linear-gradient(135deg,#737b86,#f7faff,#ffffff);

color:#1e293b;

line-height:1.6;

}

/* NAVBAR */

.navbar{

background:#fff;

padding:18px 0;

box-shadow:0 8px 30px rgba(0,0,0,.05);

position:sticky;

top:0;

z-index:1000;

}

.logo{

font-size:32px;

font-weight:700;

text-decoration:none;

color:#7041dd;

}

.nav-btn{

text-decoration:none;

color:#475569;

font-weight:500;

margin-right:25px;

transition:.3s;

}

.nav-btn:hover{

color:#2563eb;

}

.github-btn{

background:#2563eb;

color:white;

border:none;

padding:12px 28px;

border-radius:10px;

font-weight:600;

cursor:pointer;

transition:.3s;

}

.github-btn:hover{

background:#1d4ed8;

}

/* HERO */

.hero{

padding:55px 0 35px;

background:linear-gradient(180deg,#f8fbff,#eef5ff);

}

.hero-tag{

display:inline-block;

background:#dbeafe;

color:#2563eb;

padding:10px 20px;

border-radius:40px;

font-weight:600;

margin-bottom:25px;

}

.hero h1{

font-size:78px;

font-weight:800;

line-height:1;

letter-spacing:-3px;

color:#0f172a;

margin:25px 0;

}

.hero p{

font-size:22px;

line-height:1.8;

color:#64748b;

max-width:560px;

}

.hero-buttons{

display:flex;

gap:20px;

margin-top:35px;

}

.primary-btn{

background:#2563eb;

color:white;

padding:15px 35px;

border-radius:12px;

text-decoration:none;

font-weight:600;

display:inline-block;

transition:.3s;

}

.primary-btn:hover{

background:#1d4ed8;

color:white;

transform:translateY(-3px);

}

.secondary-btn{

border:2px solid #2563eb;

padding:15px 35px;

border-radius:12px;

text-decoration:none;

color:#2563eb;

font-weight:600;

transition:.3s;

}

.secondary-btn:hover{

background:#2563eb;

color:white;

}

.hero-stats{

display:flex;

gap:50px;

margin-top:45px;

}

.hero-stats h2{

font-weight:700;

color:#2563eb;

margin-bottom:5px;

}

.hero-stats span{

color:#64748b;

}

/* Preview Card */

.dashboard-preview{

background:white;

padding:40px;

border-radius:25px;

box-shadow:0 25px 60px rgba(0,0,0,.08);

}

.dashboard-top{

display:flex;

align-items:center;

gap:25px;

}


.circle-score{

width:170px;

height:170px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:42px;

font-weight:700;

background:

conic-gradient(

#2563eb 0deg,

#2563eb 310deg,

#e5e7eb 310deg

);

color:#2563eb;

position:relative;

}

.circle-score::before{

content:"";

position:absolute;

width:135px;

height:135px;

background:white;

border-radius:50%;

}

.circle-score{

z-index:1;

}

.circle-score{

display:flex;

align-items:center;

justify-content:center;

}
.skill-list{

margin-top:25px;

}

.skill{

padding:12px 20px;

border-radius:12px;

margin-bottom:12px;

font-weight:600;

}

.success{

background:#ecfdf5;

color:#047857;

border-left:5px solid #10b981;

}

.danger{

background:#fef2f2;

color:#dc2626;

border-left:5px solid #ef4444;

}

/* Upload */

.upload-section{

padding:90px 0;

}

.upload-card{

background:white;

padding:50px;

border-radius:25px;

box-shadow:0 25px 60px rgba(0,0,0,.08);

text-align:center;

}

.upload-area{

display:block;

margin-top:30px;

padding:60px;

border:3px dashed #2563eb;

border-radius:20px;

cursor:pointer;

transition:.3s;

}

.upload-area{

display:block;

padding:70px;

border:3px dashed #2563eb;

border-radius:25px;

background:#f9fbff;

transition:.3s;

cursor:pointer;

}

.upload-area:hover{

transform:translateY(-6px);

background:#eef6ff;

box-shadow:0 20px 45px rgba(37,99,235,.08);

}

.upload-icon{

font-size:70px;

margin-bottom:15px;

}

.browse-button{

display:inline-block;

margin-top:20px;

background:#2563eb;

color:white;

padding:14px 35px;

border-radius:10px;

font-weight:600;

}

input[type=file]{

display:none;

}

#file-name{

margin-top:20px;

color:#2563eb;

font-weight:600;

}

textarea{

width:100%;

margin-top:30px;

padding:20px;

border-radius:15px;

border:2px solid #e2e8f0;

resize:none;

min-height:220px;

font-size:16px;

}

textarea:focus{

outline:none;

border-color:#2563eb;

}

/* ==========================
   FEATURES
========================== */

.features{

padding:90px 0;

background:#ffffff;

}

.section-title{

text-align:center;

margin-bottom:60px;

}

.section-title h2{

font-size:42px;

font-weight:700;

margin-bottom:15px;

}

.section-title p{

color:#64748b;

font-size:18px;

}

.feature-card{

background:#fff;

padding:35px;

border-radius:22px;

box-shadow:0 15px 40px rgba(0,0,0,.06);

text-align:center;

height:100%;

transition:.35s;

}

.feature-card:hover{

transform:translateY(-10px);

box-shadow:0 30px 60px rgba(37,99,235,.15);

}

.feature-icon{

font-size:55px;

margin-bottom:20px;

}

.feature-card h3{

font-weight:700;

margin-bottom:15px;

}

.feature-card p{

color:#64748b;

}

/* CTA */

.cta{

padding:90px 0;

background:#f8fafc;

}

.cta-card{

background:#2563eb;

border-radius:30px;

padding:70px;

text-align:center;

color:white;

}

.cta-card h2{

font-size:42px;

font-weight:700;

margin-bottom:20px;

}

.cta-card p{

font-size:18px;

margin-bottom:35px;

opacity:.95;

}

.cta-card .primary-btn{

background:white;

color:#2563eb;

}

.cta-card .primary-btn:hover{

background:#eff6ff;

}

/* FOOTER */

.footer{

background:#0f172a;

padding:50px 0;

color:#cbd5e1;

}

.footer-content{

display:flex;

justify-content:space-between;

align-items:center;

flex-wrap:wrap;

}

.footer h2{

color:white;

margin-bottom:10px;

}

/*====================================

        RESULT DASHBOARD

====================================*/

body{

font-family:'Poppins',sans-serif;

background:
radial-gradient(circle at top left,#eef2ff 0%,transparent 35%),
radial-gradient(circle at bottom right,#ecfeff 0%,transparent 35%),
#f8fafc;

color:#1e293b;

}

/* Main */

.dashboard{

max-width:1250px;

margin:45px auto;

padding:20px;

}

/*========================

HEADER

=========================*/

.top-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:35px;

}

.top-header h1{

font-size:48px;

font-weight:800;

background:linear-gradient(135deg,#6d28d9,#2563eb);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}

.top-header p{

margin-top:8px;

font-size:18px;

color:#64748b;

}

.btn-secondary{

padding:15px 28px;

background:white;

border-radius:14px;

text-decoration:none;

font-weight:600;

color:#6d28d9;

box-shadow:0 12px 30px rgba(0,0,0,.08);

transition:.35s;

}

.btn-secondary:hover{

transform:translateY(-5px);

box-shadow:0 18px 40px rgba(109,40,217,.15);

}

/*========================

ATS CARD

=========================*/

.ats-card{

background:linear-gradient(135deg,#6d28d9,#2563eb);

padding:45px;

border-radius:28px;

color:white;

box-shadow:0 30px 70px rgba(37,99,235,.25);

margin-bottom:35px;

}

.score-title{

font-size:22px;

opacity:.95;

}

.ats-card h1{

font-size:72px;

margin:18px 0;

font-weight:800;

color:white !important;

}

.progress{

width:100%;

height:14px;

background:rgba(255,255,255,.18);

border-radius:40px;

overflow:hidden;

margin-top:20px;

}

.progress-bar{

height:100%;

border-radius:40px;

transition:width .8s ease;

}

/*========================

STATS

=========================*/

.stats-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:22px;

margin-bottom:35px;

}

.stat-card{

background:rgba(255,255,255,.75);

backdrop-filter:blur(18px);

padding:28px;

border-radius:22px;

box-shadow:0 15px 40px rgba(0,0,0,.07);

text-align:center;

transition:.35s;

border:1px solid rgba(255,255,255,.6);

}

.stat-card:hover{

transform:translateY(-8px);

}

.stat-card span{

font-size:42px;

display:block;

margin-bottom:15px;

}

.stat-card h2{

font-size:40px;

margin-bottom:8px;

font-weight:700;

}

.stat-card p{

color:#64748b;

font-weight:500;

}

.ats{

border-top:6px solid #7c3aed;

}

.success{

border-top:6px solid #16a34a;

}

.danger{

border-top:6px solid #ef4444;

}

/*========================

FEEDBACK

=========================*/

.feedback-box{

background:rgba(255,255,255,.75);

backdrop-filter:blur(18px);

padding:35px;

border-radius:25px;

box-shadow:0 20px 50px rgba(0,0,0,.08);

margin-bottom:35px;

border:1px solid rgba(255,255,255,.5);

}

.feedback-top{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;

}

.feedback-top h2{

font-size:30px;

margin-bottom:8px;

}

.feedback-top h4{

color:#6d28d9;

}

.strength-badge{

background:linear-gradient(135deg,#7c3aed,#2563eb);

padding:12px 22px;

border-radius:40px;

color:white;

font-weight:600;

box-shadow:0 12px 25px rgba(109,40,217,.2);

}

.feedback-box p{

font-size:18px;

line-height:1.8;

color:#475569;

}

/*========================

SKILLS

=========================*/

.skills-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:25px;

margin-bottom:35px;

}

.glass-card{

background:rgba(255,255,255,.72);

backdrop-filter:blur(18px);

padding:32px;

border-radius:24px;

box-shadow:0 20px 50px rgba(0,0,0,.08);

border:1px solid rgba(255,255,255,.5);

transition:.35s;

}

.glass-card:hover{

transform:translateY(-6px);

}
.analyze-btn{

display:block;

width:280px;

margin:35px auto 12px;

padding:16px;

border:none;

border-radius:16px;

background:linear-gradient(135deg,#7c3aed,#2563eb);

color:white;

font-size:18px;

font-weight:600;

cursor:pointer;

transition:.3s;

box-shadow:0 15px 35px rgba(124,58,237,.25);

}

.analyze-btn:hover{

transform:translateY(-4px);

box-shadow:0 20px 45px rgba(124,58,237,.35);

}

.loading-text{

text-align:center;

font-size:16px;

color:#64748b;

margin-top:12px;

display:none;

}
/* ===========================
   UPLOAD CARD
=========================== */

.upload-section{
    padding:90px 0;
}

.upload-card{

    max-width:900px;

    margin:auto;

    padding:45px;

    border-radius:28px;

    background:rgba(255,255,255,.75);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.5);

    box-shadow:0 25px 60px rgba(0,0,0,.08);

}

.upload-header{

    text-align:center;

    margin-bottom:35px;

}

.upload-header h2{

    font-size:38px;

    font-weight:700;

    color:#1e293b;

}

.upload-header p{

    color:#64748b;

    font-size:17px;

}

/* ===========================
   DRAG DROP
=========================== */

.upload-area{

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

    padding:45px;

    border:2px dashed #8b5cf6;

    border-radius:22px;

    background:#faf7ff;

    transition:.35s;

    cursor:pointer;

    text-align:center;

}

.upload-area:hover{

    transform:translateY(-5px);

    border-color:#2563eb;

    background:#f5f8ff;

}

.upload-icon{

    font-size:55px;

    margin-bottom:18px;

}

.upload-area h3{

    font-size:26px;

    font-weight:600;

    margin-bottom:10px;

}

.upload-area p{

    color:#64748b;

    margin-bottom:15px;

}

/* Hide Choose File */

.upload-area input{

    display:none;

}

#file-name{

    font-weight:600;

    color:#475569;

    margin:18px 0;

}

/* ===========================
   Browse Button
=========================== */

.browse-button{

    background:linear-gradient(135deg,#7c3aed,#2563eb);

    color:white;

    padding:14px 28px;

    border-radius:14px;

    font-weight:600;

    margin-top:12px;

    transition:.3s;

}

.browse-button:hover{

    transform:translateY(-3px);

}

/* ===========================
   TEXTAREA
=========================== */

.textarea-box{

    margin-top:35px;

}

.textarea-box label{

    display:block;

    font-weight:600;

    margin-bottom:12px;

    color:#334155;

}

.job-textarea{

    width:100%;

    min-height:220px;

    padding:18px;

    border-radius:18px;

    border:1px solid #dbeafe;

    resize:none;

    font-size:16px;

    outline:none;

    transition:.3s;

}

.job-textarea:focus{

    border-color:#7c3aed;

    box-shadow:0 0 0 5px rgba(124,58,237,.10);

}

/* ===========================
   BUTTON
=========================== */

.button-center{

    text-align:center;

    margin-top:35px;

}

.analyze-btn{

    width:260px;

    padding:16px;

    border:none;

    border-radius:16px;

    background:linear-gradient(135deg,#7c3aed,#2563eb);

    color:white;

    font-size:18px;

    font-weight:600;

    transition:.35s;

    box-shadow:0 15px 35px rgba(124,58,237,.25);

}

.analyze-btn:hover{

    transform:translateY(-4px);

    box-shadow:0 20px 45px rgba(124,58,237,.35);

}
/* ===========================
        NAVBAR
=========================== */

.custom-navbar{

    padding:18px 0;

    background:rgba(255,255,255,.75);

    backdrop-filter:blur(16px);

    border-bottom:1px solid rgba(255,255,255,.4);

    box-shadow:0 10px 35px rgba(0,0,0,.05);

}

.logo{

    display:flex;

    align-items:center;

    gap:10px;

    text-decoration:none;

}

.logo-icon{

    font-size:36px;

}

.logo-text{

    font-size:32px;

    font-weight:800;

    background:linear-gradient(135deg,#7c3aed,#2563eb);

    -webkit-background-clip:text;

    -webkit-text-fill-color:transparent;

}

.nav-links{

    display:flex;

    align-items:center;

    gap:18px;

}

.nav-btn{

    color:#475569;

    text-decoration:none;

    font-weight:600;

    transition:.3s;

}

.nav-btn:hover{

    color:#7c3aed;

}

.github-btn{

    text-decoration:none;

    padding:12px 22px;

    border-radius:14px;

    background:#111827;

    color:white;

    transition:.3s;

}

.github-btn:hover{

    background:#7c3aed;

    color:white;

}



/* ===========================
          HERO
=========================== */

.hero{

    padding:90px 0 70px;

}

.hero-tag{

    display:inline-block;

    padding:10px 18px;

    border-radius:50px;

    background:#ede9fe;

    color:#6d28d9;

    font-weight:600;

    margin-bottom:22px;

}

.hero h1{

    font-size:62px;

    font-weight:800;

    line-height:1.15;

    margin-bottom:22px;

}

.gradient-text{

    background:linear-gradient(135deg,#7c3aed,#2563eb);

    -webkit-background-clip:text;

    -webkit-text-fill-color:transparent;

}

.hero p{

    font-size:18px;

    color:#64748b;

    line-height:1.9;

    max-width:560px;

}



/* Buttons */

.hero-buttons{

    display:flex;

    gap:18px;

    margin-top:35px;

}

.primary-btn{

    padding:15px 28px;

    border-radius:16px;

    text-decoration:none;

    color:white;

    background:linear-gradient(135deg,#7c3aed,#2563eb);

    box-shadow:0 15px 35px rgba(124,58,237,.25);

    transition:.3s;

}

.primary-btn:hover{

    transform:translateY(-4px);

    color:white;

}

.secondary-btn{

    padding:15px 28px;

    border-radius:16px;

    text-decoration:none;

    background:white;

    color:#334155;

    border:1px solid #dbeafe;

    transition:.3s;

}

.secondary-btn:hover{

    transform:translateY(-4px);

}



/* Stats */

.hero-stats{

    display:flex;

    gap:25px;

    margin-top:45px;

}

.stat-box{

    padding:18px 24px;

    border-radius:18px;

    background:rgba(255,255,255,.75);

    backdrop-filter:blur(16px);

    box-shadow:0 15px 40px rgba(0,0,0,.07);

}

.stat-box h2{

    color:#6d28d9;

    font-weight:800;

}



/* ===========================
      DASHBOARD PREVIEW
=========================== */

.dashboard-preview{

    background:rgba(255,255,255,.75);

    backdrop-filter:blur(18px);

    border-radius:28px;

    padding:35px;

    box-shadow:0 25px 60px rgba(0,0,0,.08);

}

.dashboard-header{

    display:flex;

    align-items:center;

    gap:25px;

}

.score-circle{

    width:90px;

    height:90px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    font-size:28px;

    font-weight:700;

    background:linear-gradient(135deg,#7c3aed,#2563eb);

}

.skill-preview{

    display:flex;

    flex-wrap:wrap;

    gap:15px;

    margin-top:25px;

}

.skill{

    padding:10px 18px;

    border-radius:50px;

    font-weight:600;

}

.skill.success{

    background:#dcfce7;

    color:#15803d;

}

.skill.danger{

    background:#ffe4e6;

    color:#be123c;

}
/*====================================

        FEATURES

=====================================*/

.features{

padding:100px 0;

}

.section-title{

text-align:center;

margin-bottom:60px;

}

.section-title h2{

font-size:46px;

font-weight:800;

color:#1e293b;

margin-bottom:15px;

}

.section-title p{

font-size:18px;

color:#64748b;

}

.feature-card{

background:rgba(255,255,255,.75);

backdrop-filter:blur(18px);

border-radius:24px;

padding:35px;

text-align:center;

transition:.35s;

box-shadow:0 20px 50px rgba(0,0,0,.08);

border:1px solid rgba(255,255,255,.5);

height:100%;

}

.feature-card:hover{

transform:translateY(-8px);

box-shadow:0 30px 70px rgba(124,58,237,.18);

}

.feature-icon{

width:80px;

height:80px;

margin:auto;

display:flex;

justify-content:center;

align-items:center;

border-radius:20px;

font-size:34px;

background:linear-gradient(135deg,#7c3aed,#2563eb);

color:white;

margin-bottom:25px;

}

.feature-card h3{

font-size:26px;

font-weight:700;

margin-bottom:15px;

color:#1e293b;

}

.feature-card p{

font-size:16px;

line-height:1.8;

color:#64748b;

}

/*====================================

CTA

=====================================*/

.cta{

padding:90px 0;

}

.cta-card{

background:linear-gradient(135deg,#7c3aed,#2563eb);

padding:70px;

border-radius:30px;

text-align:center;

color:white;

box-shadow:0 30px 70px rgba(124,58,237,.28);

}

.cta-card h2{

font-size:44px;

font-weight:800;

margin-bottom:18px;

}

.cta-card p{

font-size:19px;

opacity:.95;

margin-bottom:35px;

}

.cta-card .primary-btn{

background:white;

color:#6d28d9;

box-shadow:none;

}

/*====================================

FOOTER

=====================================*/

.footer{

padding:40px 0;

margin-top:80px;

background:#111827;

color:white;

}

.footer-content{

display:flex;

justify-content:space-between;

align-items:center;

flex-wrap:wrap;

gap:20px;

}

.footer h2{

font-size:32px;

font-weight:800;

margin-bottom:10px;

}

.footer p{

color:#cbd5e1;

margin:0;

}

/*====================================

ANIMATIONS

=====================================*/

.feature-card,
.upload-card,
.dashboard-preview,
.stat-card,
.glass-card,
.feedback-box,
.ats-card{

transition:all .35s ease;

}

.feature-card:hover,
.upload-card:hover,
.dashboard-preview:hover,
.stat-card:hover,
.glass-card:hover{

transform:translateY(-8px);

}

/*====================================

SCROLL BAR

=====================================*/

::-webkit-scrollbar{

width:10px;

}

::-webkit-scrollbar-thumb{

background:linear-gradient(#7c3aed,#2563eb);

border-radius:20px;

}

::-webkit-scrollbar-track{

background:#edf2f7;

}

/*====================================

RESPONSIVE

=====================================*/

@media(max-width:992px){

.hero{

text-align:center;

}

.hero-buttons{

justify-content:center;

}

.hero-stats{

justify-content:center;

flex-wrap:wrap;

}

.stats-grid{

grid-template-columns:1fr;

}

.skills-grid{

grid-template-columns:1fr;

}

.feedback-top{

flex-direction:column;

gap:20px;

text-align:center;

}

.top-header{

flex-direction:column;

gap:20px;

text-align:center;

}

.footer-content{

text-align:center;

justify-content:center;

}

}

@media(max-width:768px){

.hero h1{

font-size:42px;

}

.section-title h2{

font-size:34px;

}

.cta-card{

padding:45px 25px;

}

.cta-card h2{

font-size:32px;

}

.upload-card{

padding:25px;

}

.dashboard{

padding:15px;

}

}
/*====================================

        FEATURES

=====================================*/

.features{

padding:100px 0;

}

.section-title{

text-align:center;

margin-bottom:60px;

}

.section-title h2{

font-size:46px;

font-weight:800;

color:#1e293b;

margin-bottom:15px;

}

.section-title p{

font-size:18px;

color:#64748b;

}

.feature-card{

background:rgba(255,255,255,.75);

backdrop-filter:blur(18px);

border-radius:24px;

padding:35px;

text-align:center;

transition:.35s;

box-shadow:0 20px 50px rgba(0,0,0,.08);

border:1px solid rgba(255,255,255,.5);

height:100%;

}

.feature-card:hover{

transform:translateY(-8px);

box-shadow:0 30px 70px rgba(124,58,237,.18);

}

.feature-icon{

width:80px;

height:80px;

margin:auto;

display:flex;

justify-content:center;

align-items:center;

border-radius:20px;

font-size:34px;

background:linear-gradient(135deg,#7c3aed,#2563eb);

color:white;

margin-bottom:25px;

}

.feature-card h3{

font-size:26px;

font-weight:700;

margin-bottom:15px;

color:#1e293b;

}

.feature-card p{

font-size:16px;

line-height:1.8;

color:#64748b;

}

/*====================================

CTA

=====================================*/

.cta{

padding:90px 0;

}

.cta-card{

background:linear-gradient(135deg,#7c3aed,#2563eb);

padding:70px;

border-radius:30px;

text-align:center;

color:white;

box-shadow:0 30px 70px rgba(124,58,237,.28);

}

.cta-card h2{

font-size:44px;

font-weight:800;

margin-bottom:18px;

}

.cta-card p{

font-size:19px;

opacity:.95;

margin-bottom:35px;

}

.cta-card .primary-btn{

background:white;

color:#6d28d9;

box-shadow:none;

}

/*====================================

FOOTER

=====================================*/

.footer{

padding:40px 0;

margin-top:80px;

background:#111827;

color:white;

}

.footer-content{

display:flex;

justify-content:space-between;

align-items:center;

flex-wrap:wrap;

gap:20px;

}

.footer h2{

font-size:32px;

font-weight:800;

margin-bottom:10px;

}

.footer p{

color:#cbd5e1;

margin:0;

}

/*====================================

ANIMATIONS

=====================================*/

.feature-card,
.upload-card,
.dashboard-preview,
.stat-card,
.glass-card,
.feedback-box,
.ats-card{

transition:all .35s ease;

}

.feature-card:hover,
.upload-card:hover,
.dashboard-preview:hover,
.stat-card:hover,
.glass-card:hover{

transform:translateY(-8px);

}

/*====================================

SCROLL BAR

=====================================*/

::-webkit-scrollbar{

width:10px;

}

::-webkit-scrollbar-thumb{

background:linear-gradient(#7c3aed,#2563eb);

border-radius:20px;

}

::-webkit-scrollbar-track{

background:#edf2f7;

}

/*====================================

RESPONSIVE

=====================================*/

@media(max-width:992px){

.hero{

text-align:center;

}

.hero-buttons{

justify-content:center;

}

.hero-stats{

justify-content:center;

flex-wrap:wrap;

}

.stats-grid{

grid-template-columns:1fr;

}

.skills-grid{

grid-template-columns:1fr;

}

.feedback-top{

flex-direction:column;

gap:20px;

text-align:center;

}

.top-header{

flex-direction:column;

gap:20px;

text-align:center;

}

.footer-content{

text-align:center;

justify-content:center;

}

}

@media(max-width:768px){

.hero h1{

font-size:42px;

}

.section-title h2{

font-size:34px;

}

.cta-card{

padding:45px 25px;

}

.cta-card h2{

font-size:32px;

}

.upload-card{

padding:25px;

}

.dashboard{

padding:15px;

}

}
.bi{

margin-right:8px;

font-size:25px;

vertical-align:middle;

}
.bi-patch-check-fill{
    color:#22c55e;
    margin-right:8px;
}


.bi-list-check{
    color:#2563eb;
}
.bi-lightbulb-fill{
    color:#f59e0b;
}
.bi-file-earmark-text-fill{
    color:#7c3aed;
}
.bi-clipboard2-check-fill{
    color : #62a966;
}
.bi-patch-x-fill{

color:#ef4444;

font-size:22px;

}
.bi-bar-chart-line-fill{
    color :#2563eb;
    font-size : 40px
}
.bi-stars.text-warning{
color : rgb(159, 25, 199);
}
.bi-x-octagon-fill{
    color : red;

}
.bi-robot{
    font-size:45px;
}
