
<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>ResumeIQ | AI ATS Resume Analyzer</title>
<link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <div class="container mt-3">

{% with messages = get_flashed_messages(with_categories=true) %}

{% if messages %}

{% for category, message in messages %}

<div class="alert alert-{{ category }} alert-dismissible fade show">

{{ message }}

<button
type="button"
class="btn-close"
data-bs-dismiss="alert">
</button>

</div>

{% endfor %}

{% endif %}

{% endwith %}

</div>

<!-- ===========================
        NAVBAR
============================ -->

<nav class="navbar navbar-expand-lg custom-navbar">

<div class="container">

<a class="navbar-brand logo" href="/">

<span class="logo-icon"><i class="bi bi-robot"></i> </span>

<span class="logo-text">ResumeIQ</span>

</a>

<d class="ms-auto nav-links">
<div class="ms-auto nav-links">

{% if session.get("user_id") %}

<span class="nav-user">

👋 Hello, {{ session["user_name"] }}

</span>

<a class="nav-btn" href="#upload">

Analyze

</a>

<a class="github-btn" href="/logout">

<i class="bi bi-box-arrow-right"></i>
Logout

</a>

{% else %}

<a class="nav-btn" href="#features">

Features

</a>

<a class="nav-btn" href="#upload">

Analyze

</a>

<a class="github-btn" href="/login">

<i class="bi bi-box-arrow-in-right"></i>
Login

</a>

{% endif %}

</div>





</div>

</nav>



<!-- ===========================
        HERO
============================ -->

<section class="hero">

<div class="container">

<div class="row align-items-center gy-5">

<!-- LEFT -->

<div class="col-lg-6">

<span class="hero-tag">

 <i class="bi bi-stars"></i>AI Powered ATS Resume Analyzer

</span>

<h1>

Analyze Your Resume.

<br>

<span class="gradient-text">

Get More Interviews.

</span>

</h1>

<p>

ResumeIQ compares your resume with any job description,
calculates your ATS score, detects missing skills,
and provides personalized recommendations to improve
your chances of getting shortlisted.

</p>

<div class="hero-buttons">

<a href="#upload" class="primary-btn">
<i class="bi bi-upload"></i>
Analyze Resume
</a>

<a href="#features" class="secondary-btn">
<i class="bi bi-stars"></i>
Explore Features
</a>

</div>



<div class="hero-stats">

<div class="stat-box">

<h2>

98%

</h2>

<span>

ATS Accuracy

</span>

</div>

<div class="stat-box">

<h2>

500+

</h2>

<span>

Skills Checked

</span>

</div>

<div class="stat-box">

<h2>

PDF

</h2>

<span>

DOCX Support

</span>

</div>

</div>

</div>



<!-- RIGHT -->

<div class="col-lg-6">

<div class="dashboard-preview">

<div class="dashboard-header">

<div class="score-circle">

<i class="bi bi-check-circle-fill"></i>

<h3>86%</h3>

</div>

<div>

<h3>

Resume Score

</h3>

<p>

Excellent Match

</p>

</div>

</div>

<hr>

<div class="skill-preview">

<div class="skill success">

✓ Python

</div>

<div class="skill success">

✓ Java

</div>

<div class="skill success">

✓ SQL

</div>

<div class="skill success">

✓ Flask

</div>

<div class="skill danger">

Docker Missing

</div>

<div class="skill danger">

AWS Missing

</div>

</div>

</div>

</div>

</div>

</div>

</section>
<section id="upload" class="upload-section">

<div class="container">

<div class="upload-card">

<div class="upload-header">

<h2>

<i class="bi bi-cloud-upload-fill"></i>

Upload Your Resume

</h2>

<p>

Supported Formats • PDF • DOCX

</p>

</div>

<form
action="/upload"
method="POST"
enctype="multipart/form-data">

<label
for="resume"
class="upload-area">

<div class="upload-icon">

<i class="bi bi-cloud-arrow-up-fill"></i>

</div>

<h3>

Choose Your Resume

</h3>

<p>

Drag & Drop or Click to Browse

</p>

<input
type="file"
id="resume"
name="resume"
accept=".pdf,.docx"
required>

<p id="file-name">

No file selected

</p>

<div class="browse-button">

Browse Resume

</div>

</label>

<div class="textarea-box">

<label>

Job Description

</label>

<textarea
class="job-textarea"
name="job_description"
placeholder="Paste the complete Job Description here..."
required></textarea>

</div>

<div class="button-center">

<button
type="submit"
id="analuzeBtn"
class="analyze-btn">

<i class="bi bi-search"></i> Analyze Resume

</button>

</div>

<div id="loading" class="loading-box">

    <div class="loader"></div>

    <p id="loading-text">

        Uploading Resume...

    </p>

</div>

</form>

</div>

</div>

</section>

<section

id="features"

class="features">

<div class="container">

<div class="section-title">

<h2>

Why ResumeIQ?

</h2>

<p>

Everything needed to optimize your resume.

</p>

</div>

<div class="row">
    <div class="col-lg-4">

    <div class="feature-card">

        <div class="feature-icon">

            <i class="bi bi-bar-chart-fill"></i>

        </div>

        <h3>

            ATS Score

        </h3>

        <p>

            Get an instant ATS compatibility score for your resume against any Job Description.

        </p>

    </div>

</div>

<div class="col-lg-4">

    <div class="feature-card">

        <div class="feature-icon">

           
<i class="bi bi-award-fill"></i> 
        </div>

        <h3>

            Smart Skill Matching

        </h3>

        <p>

            Automatically identify matched and missing skills using keyword analysis.

        </p>

    </div>

</div>

<div class="col-lg-4">

    <div class="feature-card">

        <div class="feature-icon">

            <i class="bi bi-search"></i> 

        </div>

        <h3>

            AI Recommendations

        </h3>

        <p>

            Receive actionable suggestions to improve your resume for better interview chances.

        </p>

    </div>

</div>

</div>

</div>

</section>

<section class="cta">

<div class="container">

<div class="cta-card">

<h2>

Ready to Improve Your Resume?

</h2>

<p>

Upload your resume now and discover how well it matches your dream job.

</p>

<a href="#upload" class="primary-btn">


<i class="bi bi-lightning-charge-fill"></i>
Start Free Analysis
</a>

</div>

</div>

</section>

<footer class="footer">

<div class="container">

<div class="footer-content">

<div>

<h2>

<i class="bi bi-robot"></i> ResumeIQ

</h2>

<p>

Professional AI Resume Analyzer

Upload • Analyze • Improve • Get Hired
</p>

</div>

<div>

<p>
© 2026 ResumeIQ
</p>

<p>
Built with ❤️ using Flask, Python & Bootstrap
</p>

</div>

</div>

</div>

</footer>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>